@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
html * {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
}

body {
  background-color: #02050a;
  color: #dfdfdf;
}

h1,
h2 {
  font-weight: 800;
}

h3,
h4,
h5 {
  font-weight: 500;
}

a {
  color: #55e6a5;
  text-decoration: none;
}

.modal {
  z-index: 9999;
}
.modal .modal-content {
  border-radius: unset;
  background-color: #141c27;
  color: #dfdfdf;
}
.modal .modal-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #253449;
}
.modal .modal-header .btn-close {
  -webkit-filter: contrast(0) brightness(20);
          filter: contrast(0) brightness(20);
}
.modal .modal-footer {
  border-top: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #141c27;
}
header nav .nav-link {
  color: #dfdfdf !important;
}
header nav .nav-link.disabled {
  -webkit-filter: saturate(0) brightness(0.5);
          filter: saturate(0) brightness(0.5);
}
header nav .navbar-brand {
  color: #dfdfdf !important;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  z-index: 50;
}

.form-control {
  padding: 0.5rem 1rem;
  border-radius: unset;
}

.progress {
  background-color: #141c27;
}

input.form-control, select.form-control {
  background-color: #141c27;
  border: 1px solid #55e6a5;
  color: #dfdfdf !important;
}
input.form-control::-webkit-input-placeholder, select.form-control::-webkit-input-placeholder {
  color: #374c6a;
}
input.form-control::-moz-placeholder, select.form-control::-moz-placeholder {
  color: #374c6a;
}
input.form-control:-ms-input-placeholder, select.form-control:-ms-input-placeholder {
  color: #374c6a;
}
input.form-control::-ms-input-placeholder, select.form-control::-ms-input-placeholder {
  color: #374c6a;
}
input.form-control::placeholder, select.form-control::placeholder {
  color: #374c6a;
}
input.form-control:focus, select.form-control:focus {
  background-color: #1d2838;
  -webkit-box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
          box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
}
input.form-control:active, select.form-control:active {
  -webkit-box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
          box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
}

.text-primary {
  color: #55e6a5 !important;
}

.bg-primary {
  background-color: #55e6a5 !important;
}

.text-neon-green {
  color: #55e6a5 !important;
}

.bg-neon-green {
  background-color: #55e6a5 !important;
}

.text-dark {
  color: #141c27 !important;
}

.bg-dark {
  background-color: #141c27 !important;
}

.btn-w_icon-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: unset;
}
.btn.btn-lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
}
.btn.btn-lg .btn-w_icon-right {
  padding-left: 0.5rem;
}
.btn.btn-primary {
  background-color: #55e6a5;
  border: 1px solid #55e6a5;
  color: #02050a;
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  border: 1px solid #55e6a5;
  background-color: #29df8d;
}
.btn.btn-primary:active {
  background-color: #29df8d;
  -webkit-box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
          box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
}
.btn.btn-neon-green {
  background-color: #55e6a5;
  border: 1px solid #55e6a5;
  color: #02050a;
}
.btn.btn-neon-green:hover, .btn.btn-neon-green:focus, .btn.btn-neon-green:active {
  border: 1px solid #55e6a5;
  background-color: #29df8d;
}
.btn.btn-neon-green:active {
  background-color: #29df8d;
  -webkit-box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
          box-shadow: 0 0 0 5px rgba(85, 230, 165, 0.2);
}
.btn.btn-dark {
  background-color: #141c27;
  border: 1px solid #141c27;
  color: #02050a;
}
.btn.btn-dark:hover, .btn.btn-dark:focus, .btn.btn-dark:active {
  border: 1px solid #141c27;
  background-color: #030405;
}
.btn.btn-dark:active {
  background-color: #030405;
  -webkit-box-shadow: 0 0 0 5px rgba(20, 28, 39, 0.2);
          box-shadow: 0 0 0 5px rgba(20, 28, 39, 0.2);
}

.btn.fixed, .btn.fixed-right, .btn.fixed-right-center {
  position: fixed;
  z-index: 998;
}
.btn.fixed-right, .btn.fixed-right-center {
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  right: 0;
}
.btn.fixed-right-center {
  top: 50%;
  -webkit-transform: translateY(200%) rotateZ(90deg);
      -ms-transform: translateY(200%) rotate(90deg);
          transform: translateY(200%) rotateZ(90deg);
}

.portfolio__img {
  position: relative;
}
.portfolio__img img {
  padding: 2rem;
}
.portfolio__img::after {
  position: absolute;
  content: "";
  background: url(../media/banner_shape.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.skill {
  background-color: rgba(20, 28, 39, 0.51);
}
.skill .skill_name {
  padding: 0.5rem 1rem;
}

.flat-card.flat-backdrop {
  min-height: 200px;
}
.flat-card.flat-backdrop:hover .card-body.backdrop-image {
  background: #b4b4b4;
}
.flat-card.flat-backdrop:hover .card-body .content {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.flat-card.flat-backdrop .card-body {
  position: relative;
  overflow: hidden;
}
.flat-card.flat-backdrop .card-body.backdrop-image {
  background: #cdcdcd;
}
.flat-card.flat-backdrop .card-body .content {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  padding: 1rem;
}
.flat-card:has(.icon) .icon {
  width: 100px;
  aspect-ratio: 1;
  background-color: #cdcdcd;
}

.alert-status {
  position: fixed;
  top: 5rem;
  right: 1rem;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  main .flat-card:not(.flat-backdrop) .card-body * {
    text-align: center;
  }
  main .landing-wrapper {
    position: relative;
  }
  main .landing-wrapper .registration-cta {
    padding: 2rem 0;
    z-index: 1;
    position: absolute;
    top: 4rem;
    left: 3rem;
    max-width: 600px;
    height: 100%;
  }
}
main .form-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
}
main .form-wrapper label.error {
  font-size: 0.75rem;
  color: red;
}

.page-title h1 {
  text-transform: uppercase;
  font-size: max(2.5rem, 3vw);
}

section:not(.banner-section) {
  padding: max(5%, 2rem) 0;
}
section .section-title {
  margin-bottom: 2rem;
  color: #dfdfdf;
}
section .section-title .title {
  margin: 0;
  text-transform: uppercase;
  color: #55e6a5;
  font-size: max(1.5vw, 1.5rem);
}
section .section-title h2 {
  margin: 0;
  font-size: max(3vw, 3rem);
  text-transform: capitalize;
}

footer .links a {
  color: inherit;
}
footer .social-links {
  font-size: 1.5rem;
}
footer .social-links .nav-link {
  color: #55e6a5;
}
footer .social-links .nav-link.disabled {
  -webkit-filter: saturate(0) brightness(0.5);
          filter: saturate(0) brightness(0.5);
}